@import "../../Styles/variables.scss";

.answer-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $main-blue-dark;
}

.answerContainerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}