$font-small: 16px;
$font-medium: 24px;
$font-big: 32px;
$font-huge: 64px;

$padding-small: 16px;
$padding-medium: 32px;
$padding-big: 64px;

$margin-small: 16px;
$margin-medium: 32px;
$margin-big: 64px;

$scale: 1.05;

$main-white: #EEEEEE;
$main-red: #DC1B1B;
$main-gray-light: #9D9D9D;

$main-blue-light: #407294;
$main-blue-dark: #002626;
$main-blue-dark-2: #002626;
