@import "../../Styles/variables.scss";

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $main-blue-dark;
}

.quizContainer {
    display: flex;
    flex-direction: row;
    padding: $padding-small 0;
    transition: 0.2s;

    &:hover {
        background-color: $main-blue-light;
        cursor: pointer;
    }
}

.quizContainerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    width: 200px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $padding-small 0;
}

.titleContainer--item {
    min-width: 200px;
    width: 200px;
    text-align: center;
}
