@import "../../Styles/variables.scss";

.username {
    font-size: $font-small;
    text-align: center;
    text-transform: uppercase;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

table {
    table-layout: fixed;
}
